name: demo-workflow
run-name: "Demo Workflow ${{ github.actor }}"

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: none
      
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6.1.0
        with:
          node-version: v10

permissions: {}
